{{#link-to "game.play.players" class="game-show--players"}}
  {{playerMembership.player.name}}
  <span class="game-show--players--count">
    {{playerMembership.score}}
  </span>
{{/link-to}}
<div class="game-show--czar">
  <span class="game-show--czar--badge">czar</span>
  {{game.player.name}}
</div>
<div class="game-show--question">
  {{{wrap-underscores game.question.text class="game-show--question--underscore"}}}
</div>
{{#if isCzar}}
  {{#if onlyPlayer}}
    <div class="game-show--share">
      You're the only one here!<br/>
      Invite some friends by sharing this page.<br/>
      {{fa-icon "arrow-down" class="game-show--share--icon"}}
    </div>
  {{else}}
    {{#if allSubmitted}}
      {{game-show/hand choices=submitted on-choose="pick"}}
    {{else}}
      <div class="game-show--submissions">
        {{#each submitted as |membership index|}}
          {{game-show/submission number=(subtract submittable.length index) delay=(multiply 250 index)}}
        {{/each}}
      </div>
    {{/if}}
  {{/if}}
{{else}}
  {{#if playerSubmitted}}
    <div class="game-show--submissions">
      {{#each submitted as |membership index|}}
        {{game-show/submission number=(subtract submittable.length index) delay=(multiply 250 index)}}
      {{/each}}
    </div>
  {{/if}}
  {{game-show/hand has-submitted=playerSubmitted choices=game.answers on-choose="submit"}}
{{/if}}

