{{#link-to "game.play.players" class="game-show--players"}}
  {{playerMembership.player.name}}
  <span class="game-show--players--count">
    {{playerMembership.score}}
  </span>
{{/link-to}}
{{question.text}}
{{#liquid-bind question class="game-show--question--animator" as |question|}}
  {{game-show/question question=question}}
{{/liquid-bind}}
{{#liquid-if isOnlyPlayer class="game-show--share--animator"}}
  {{game-show/share}}
{{/liquid-if}}
{{#animated-if (eq state "choosing") class="game-show--answers-hand--animator"}}
  {{game-show/answers-hand pick=pick player-membership=playerMembership
    on-choose="submit"}}
{{/animated-if}}
{{#animated-if (eq state "waiting") class="game-show--submissions--animator"}}
  {{game-show/submissions submitted=submitted.length submittable=submittableCount}}
{{/animated-if}}
{{#animated-if (eq state "viewing") class="game-show--submissions-hand--animator"}}
  {{game-show/submissions-hand isCzar=isCzar choices=submitted
    position=game.viewingPosition czar=game.player
    on-choose="pick" on-position="position"}}
{{/animated-if}}
{{#animated-if (eq state "acking") class="game-show--ack--animator"}}
  {{game-show/ack game=game on-ack="ackTurn"}}
{{/animated-if}}
